*{
  padding: 0px;
  margin: 0px;
}

div.App{
  background-color: grey;
  height: fit-content;
}

.Welcome{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap:wrap;
}

input{
  padding: 10px;
  border-radius: 5px;
}
 
.main-component{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 
.heading{
  padding : 50px;
  font-family: sans-serif;
}
 
.main-segment{
  width: 100%;
  text-align: center;
  height: 75%;
}
.container .row{
  gap: 1rem;
  justify-content: space-around;
}
.card button{
  margin: 10px;
}
.addstudents{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid black;
  padding: 10px;
  gap: 0.5rem;
}
.addstudents span button{
  white-space: nowrap;
}
.container .row .card{
  margin: 10px;
}
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.button button{
  margin: 10px;
}